@import url("https://fonts.googleapis.com/css2?family=Courgette&family=Roboto:ital,wght@1,300&family=Shalimar&display=swap");

:root nav a {
  text-align: center;
  color: #1893e4;
  text-decoration: none;
  padding: 35px;
}

nav {
  display: flex;
  justify-content: space-around;
}

span{
  color: #1893e4;
}

header {
  background-color: white;
  font-family: "Courgette", "Roboto", sans-serif;
  display: grid;
  grid-template-columns: 150px auto;
  margin-bottom: 35px;
  margin: 0 auto;
  width: 100%
}

#content {
  border: 1px solid white;
  font-family: "Courgette";
  text-align: center;
  margin: 0 auto;
  width: 100%;
  height: 600px;
}

span{
  margin: 35%;
}

main {
  text-align: center;
  background-color:  #d2cdcd;
}

main section img {
  box-sizing: border-box;
}

body{
  background-color: #d2cdcd;
  width: 100%
}

.logo {
  width: 30px;
  height: 10px;
}

#logo_link {
  padding-top: 5px;
  justify-self: center;
  align-self: center;
}

h1 {
  margin-bottom: 100px ;
  text-align: center;
  font-size: xx-large;
  color: #1893e4;
  font-family: "Courgette";
  margin-bottom: 50px;

}

h4{
  margin-bottom: 100px ;
  text-align: center;
  font-size: xx-large;
  color: #5c45c2;
  font-family: "Courgette";
  margin-top: 70px;
}

h2 {
  color: #343fd6;
}

h3{
  text-align: center;
  margin-inline-start: 450px;
  margin-inline-end: 450px;
  margin-top: 60px;
}

footer {
  background-color: #e1b20a;
  color: white;
  margin-top: 600px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* margin-left: 300px;
    margin-right: 300px; */
  width: auto;
  margin-top: 80px;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-family: "Courgette";
  background-color:#cdcccb ;
}

.greed {
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-family: "Courgette";
    background-color:rgb(75, 72, 72) ;
  }

.Info {
  display: flex;
  justify-content: center;
  margin-left: 380px;
  width: 60%;
  word-break: keep-all;
  /* align-items: center;
    text-align: center; */
}

.left {
  width: 400px;
  margin: 10px;
  margin-right: 310px;
}

#home-Img01 {
  margin-right: 20%;

}


.ref {
  width: 400px;
  height: 300px;
  vertical-align: sub;
  margin-bottom: 60px;
}

.fav {
  width: 400px;
  height: 300px;
}
.ova {
  background-color: #2c462b;
  text-align: center;
}

p {
  margin-inline-start: -140px;
  margin-block-start: 7em; 
  width: 50%; 
}

.pef{
  width: 500px;
  height: 350px;
  grid-column: 1/2;
  border: 5px solid #e1b20a;
}

.mef{
  width: 500px;
  height: 350px;
  grid-column: 2/2;
  border: 5px solid #e1b20a;
}

.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 160px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: rgb(240, 184, 16); /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
}

/* The navigation menu links */
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #06552c;
}

/* Style page content */
.main {
  margin-left: 160px; /* Same as the width of the sidebar */
  padding: 0px 10px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}